<a href="https://colab.research.google.com/github/PragunSaini/vnrec_notebooks/blob/master/vndb_collaborative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Database Setup (for cloud notebook)

In [ ]:
# For postgresql setup on colab

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# # Setup a new user `vndb`
!sudo -u postgres createuser --superuser vndb
!sudo -u postgres createdb vndb
!sudo -u postgres psql -c "ALTER USER vndb PASSWORD 'vndb'"

In [ ]:
# Download vndb database dump
!curl -L https://dl.vndb.org/dump/vndb-db-latest.tar.zst -O

In [ ]:
# Extract and Load data in postgresql
!sudo apt-get install zstd
!tar -I zstd -xvf vndb-db-latest.tar.zst
!PGPASSWORD=vndb psql -U vndb -h 127.0.0.1 vndb -f import.sql

## Setting up environment

In [1]:
# PostgreSQL connection
import sqlalchemy

# Data and math
import numpy as np
import pandas as pd
import scipy

# Plotting and viz.
import matplotlib as plt
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12, 8)
import seaborn as sns
sns.set_style('whitegrid')
from tqdm.auto import tqdm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Create PostgreSQL engine
engine = sqlalchemy.create_engine(f'postgresql://vndb:vndb@localhost:5432/vndb')

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Load user, vn and ratings data

In [3]:
# Load users table
users = pd.read_sql_table("users", con=engine)
users.set_index('id', inplace=True)
users.head()

   username  ign_votes  perm_imgvote  perm_tag
id
2    yorhel      False          True      True
4    hillie      False          True      True
5    vatina      False          True      True
6       3db      False          True      True
7      fuku      False          True      True

In [4]:
# Load vn table
vn = pd.read_sql_table("vn", con=engine)
vn.set_index('id', inplace=True)
vn.head()

                 title    original  ... c_votecount  l_wikidata
id                                  ...
1   Minna de Nyan Nyan  みんなでニャンニャン  ...         624         NaN
2        Kana ~Imouto~    加奈～いもうと～  ...        1538   1274585.0
3        Utawarerumono     うたわれるもの  ...        3303    773981.0
4              Clannad              ...        6658    110607.0
5      Little Busters!   リトルバスターズ！  ...        5829    683502.0

[5 rows x 13 columns]

In [5]:
# Read ratings table (only those user entries who have voted)
ratings = pd.read_sql('SELECT uv.vid, uv.uid, uv.vote, uv.lastmod FROM ulist_vns uv INNER JOIN ulist_vns_labels uvl ON uv.vid = uvl.vid AND uv.uid = uvl.uid WHERE uvl.lbl = 7', con=engine)
ratings.head()

    vid  uid  vote                   lastmod
0    61    2    60 2008-08-06 00:00:00+00:00
1   898    2    70 2008-08-28 00:00:00+00:00
2  1290    2    50 2008-12-18 00:00:00+00:00
3     2    4    70 2008-12-28 00:00:00+00:00
4    10    4    70 2008-12-28 00:00:00+00:00

## Data Overview

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897125 entries, 0 to 897124
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   vid      897125 non-null  int64
 1   uid      897125 non-null  int64
 2   vote     897125 non-null  int64
 3   lastmod  897125 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(3)
memory usage: 27.4 MB

In [7]:
print("In ratings data :")
uniq_user_cnt = len(ratings['uid'].unique())
uniq_vn_cnt = len(ratings['vid'].unique())
print(f"Distinct users: {uniq_user_cnt}")
print(f"Distinct VN: {uniq_vn_cnt}")
sparsity = len(ratings) / (uniq_user_cnt * uniq_vn_cnt)
print(f"Sparsity: {(1 - sparsity) * 100}")

In ratings data :
Distinct users: 44656
Distinct VN: 21312
Sparsity: 99.90573533410021

In [8]:
# Total users and vn in database
print(f"Total users: {len(users)}")
print(f"Total VN: {len(vn)}")

Total users: 63572
Total VN: 27678

So it's clear that not all users have voted on VNs and moreover some VNs have never been voted on.
We are going to ignore those users and VNs for now.

In [9]:
# Ratings vary from 10 to 100
ratings['vote'].describe()

count    897125.000000
mean         72.646870
std          18.271053
min          10.000000
25%          60.000000
50%          75.000000
75%          90.000000
max         100.000000
Name: vote, dtype: float64

## Building a collaborative filtering model

In [10]:
def clean_and_filter_ratings(df):
  # Drop lastmod timestamp from ratings
  data = df.drop('lastmod', axis='columns')

  # For significance, we are gonna drop some insignificant users and VNs
  # Here I am dropping VNs rated by less than 10 people
  # And users who have rated less then 8 VN

  vn_to_drop = data.groupby('vid').count()['uid']
  vn_to_drop = vn_to_drop[vn_to_drop < 10].index
  data = data[~data['vid'].isin(vn_to_drop)]

  users_to_drop = data.groupby('uid').count()['vid']
  users_to_drop = users_to_drop[users_to_drop < 8].index
  data = data[~data['uid'].isin(users_to_drop)]

  return data

In [11]:
data = clean_and_filter_ratings(ratings)

In [12]:
# Let's split it into training and test data
# Stratify on uid so that same proportions of users are present in both sets
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.10, stratify=data['uid'])

In [13]:
# Since each user has a different way of rating
# So we will adjust the ratings of each user by his own mean

def adjust_user_wise_ratings(df):
  means = df.groupby('uid')['vote'].mean()
  df = pd.merge(df, means, on='uid', suffixes=('', '_avg'))
  df['vote_adj'] = df['vote'] - df['vote_avg']
  return df

In [14]:
train = adjust_user_wise_ratings(train)
train.head()

     vid     uid  vote  vote_avg  vote_adj
0  16221  171415    50      72.5     -22.5
1     44  171415   100      72.5      27.5
2   3126  171415    80      72.5       7.5
3    945  171415    90      72.5      17.5
4     97  171415    80      72.5       7.5

In [15]:
# Creating a (sparse) user-item matrix 

from scipy.sparse import csr_matrix

def ratings_to_user_item(df):
  ''' Returns (sparse_matrix, row categories, column categories) '''
  uid_c = df['uid'].astype('category')
  vid_c = df['vid'].astype('category')
  sparse = csr_matrix((df['vote_adj'], (uid_c.cat.codes, vid_c.cat.codes)),
                            shape=(uid_c.dtype.categories.size, vid_c.dtype.categories.size))
  return sparse, uid_c, vid_c

In [16]:
# Get the user-item matrix and user/VN indexes
user_item, uid_c, vid_c = ratings_to_user_item(train)

In [17]:
# Looking good
user_item.shape

(20931, 8217)

In [18]:
# For indexing ease, convert to Dataframe
user_item_df = pd.DataFrame(user_item.todense(), index=uid_c.dtype.categories, columns=vid_c.dtype.categories)

In [19]:
user_item_df.head()

       1          2          3          4      ...  28482  28513  28556  28619
2 -29.166667   0.000000  30.833333   0.000000  ...    0.0    0.0    0.0    0.0
4   0.000000  -9.000000   1.000000   0.000000  ...    0.0    0.0    0.0    0.0
5   0.000000   0.000000   0.000000   0.000000  ...    0.0    0.0    0.0    0.0
6   0.000000   0.000000   0.000000  20.666667  ...    0.0    0.0    0.0    0.0
8   0.000000 -10.357143  -0.357143  19.642857  ...    0.0    0.0    0.0    0.0

[5 rows x 8217 columns]

In [20]:
# We can use cosine, pearson, adjusted cosine and other similarity metrics
# Cosine is pretty fast so we are gonna use it
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity

### User - User Collaborative Filtering

First let's try out user-user collaborative filtering

In [21]:
# Creating a user-user correlation matrix

def get_user_corr(mat, index):
  # user_corr = 1 - pairwise_distances(user_item, metric='correlation')
  user_corr = cosine_similarity(mat)
  user_corr = pd.DataFrame(user_corr, index=index, columns=index, dtype=np.float32)
  np.fill_diagonal(user_corr.values, 0.0)
  return user_corr

In [22]:
# Here we will pass the sparse user-item matrix (sklearn has optimized cosine_similarity for sparse matrices)
user_corr = get_user_corr(user_item, uid_c.dtype.categories)

In [23]:
user_corr.head()

     2         4         5         6       ...  180339    180356    180365    180368
2  0.000000  0.214864  0.102438 -0.067137  ...     0.0  0.025054  0.054853  0.000000
4  0.214864  0.000000  0.099119  0.078200  ...     0.0  0.000000  0.034763  0.000000
5  0.102438  0.099119  0.000000 -0.051727  ...     0.0  0.030024  0.042189 -0.001629
6 -0.067137  0.078200 -0.051727  0.000000  ...     0.0 -0.009517  0.100810 -0.036651
8  0.153576  0.181207  0.079407  0.144144  ...     0.0  0.000000  0.048587  0.000000

[5 rows x 20931 columns]

In order to make predictions, we will take a uid and find the nearest k neighbours (in terms of similarity).
Then by doing a weighted average of the ratings of those users, we can predict the ratings for this user.

In [24]:
# To make predictions we need to find the most similar users for a given  user
def get_nearest_users(uid, k=10):
  nearest = user_corr.loc[uid].sort_values(ascending=False)
  return nearest.iloc[:k].index

In [25]:
get_nearest_users(165683)

Int64Index([58323, 5714, 21452, 89675, 35739, 62688, 68167, 87635, 124292,
            17332],
           dtype='int64')

In [26]:
def predict_user_ratings(ratings, uid, k=10):
  # Get user's data
  user_mean = ratings[ratings['uid'] == uid]['vote_avg'].iloc[0]
  user_played = ratings[ratings['uid'] == uid]['vid']

  # Get k nearest neighbours and their ratings and similarities
  similar_users = get_nearest_users(uid, k)
  similar_users_ratings = user_item_df.loc[similar_users].drop(user_played, axis='columns')
  similarity = user_corr.loc[uid, similar_users].copy()
  similarity_denom = np.abs(similarity).sum()

  # In the case that there is no similar users, we will just return the average item ratings
  if similarity_denom == 0:
    return user_item_df.drop(user_played, axis='columns').mean(axis=0) + user_mean

  # Else compute the weighted average
  item_scores = similarity.values[np.newaxis].dot(similar_users_ratings.values)
  item_scores = item_scores / similarity_denom
  predicted_items_scores = pd.Series(item_scores[0] + user_mean, index=similar_users_ratings.columns)
  return predicted_items_scores

In [27]:
# Lets try to predict ratings that a user will give to not played VNs
predict_user_ratings(train, 165683).sort_values(ascending=False)

2002     86.113205
4        85.453281
92       84.532285
57       83.564251
24       83.331650
           ...
17694    79.797675
66       79.762831
7849     79.624649
49       79.624649
93       79.470496
Length: 8209, dtype: float64

We can now predict scores that users will give to VNs. To build a recommendation system, we can just return the top n items from this list, sorted by predicted scores.

In [28]:
def get_user_recommendations(uid, n=10, k=10):
  predictions = predict_user_ratings(train, uid, k).sort_values(ascending=False).index
  return vn.loc[predictions[:n], ['title']]

In [29]:
get_user_recommendations(165683, 10, 10)

                                    title
2002                          Steins;Gate
4                                 Clannad
92                    Muv-Luv Alternative
57     Sharin no Kuni, Himawari no Shoujo
24                Umineko no Naku Koro ni
2153        Umineko no Naku Koro ni Chiru
12402              Fata morgana no Yakata
716                     Gyakuten Saiban 3
9093   Kono Oozora ni, Tsubasa o Hirogete
17716            Gaokao Lianai Yibai Tian

### Item - Item Collaborative Filtering

Next, let's try item-item collaborative filtering.

In [30]:
# Instead of computing adjusted cosine for users, let's do it for items
def get_item_corr(mat, index):
  item_corr = cosine_similarity(mat.T)
  item_corr = pd.DataFrame(item_corr, index=index, columns=index, dtype=np.float32)
  np.fill_diagonal(item_corr.values, 0.0)
  return item_corr

In [31]:
item_corr = get_item_corr(user_item, vid_c.dtype.categories)

In [32]:
item_corr.head()

      1         2         3      ...     28513     28556     28619
1  0.000000 -0.048231 -0.107090  ...  0.000000  0.000000  0.000000
2 -0.048231  0.000000  0.042814  ...  0.000000  0.002626 -0.027321
3 -0.107090  0.042814  0.000000  ...  0.002422  0.000000 -0.013501
4 -0.072853  0.023208  0.090927  ...  0.001265 -0.001314 -0.004315
5 -0.055500  0.002539  0.102514  ...  0.001406  0.000408 -0.008770

[5 rows x 8217 columns]

Now to make predictions we can use many approaches

One approach is to use the VNs rated by a user, and using those ratings and similarity between rated VNs and other VNs, find scores for other VNs.

In [33]:
def predict_by_user_ratings(ratings, uid):
  # Get users ratings
  user_mean = ratings[ratings['uid'] == uid]['vote_avg'].iloc[0]
  user_played = ratings[ratings['uid'] == uid]['vid']
  user_ratings = user_item_df.loc[uid, user_played].copy()

  # Get similariies for these items (also drop already rated VNs)
  similarities = item_corr.loc[user_played].copy()
  similarities.drop(user_played, axis=1, inplace=True)
  
  # Multiply ratings by similarities and calculate weighted averages
  predicted_ratings = user_ratings.T.dot(similarities)
  predicted_ratings = predicted_ratings / np.abs(similarities).sum(axis=0) + user_mean

  # Return list of predictions
  return predicted_ratings

In [34]:
predict_by_user_ratings(train, 165683).sort_values(ascending=False)

12911    100.390065
6435      97.559024
17835     97.218667
4055      96.064498
14936     95.833459
            ...
25342     67.606616
1922      67.527041
818       65.097222
26254     63.741287
18895           NaN
Length: 8209, dtype: float64

The problem with this approach is that VNs that are similar to only some VNs rated by user get higher scores than others. And these are the VNs that in general have low number of votes and just get high scores due to some similarity to user rated VNs.

A better approach is to find k similar VNs for each VN user has rated, find their union and calculate weighted average for these VNs.
For the rest, we can try using the general VN rating mean.

In [35]:
# This procedure finds the k closest VNs to a VN
def predict_closest_vn(vid, k=5):
  similarities = item_corr.loc[vid].sort_values(ascending=False)
  return vn.loc[similarities[:k].index, ['title']]

In [36]:
predict_closest_vn(4, 10)

                                            title
5                                 Little Busters!
11                                Fate/Stay Night
751                                       Rewrite
2002                                  Steins;Gate
17                   Ever17 -The Out of Infinity-
33                                          Kanon
211                              G-senjou no Maou
57             Sharin no Kuni, Himawari no Shoujo
92                            Muv-Luv Alternative
5154  Grisaia no Kajitsu -Le Fruit de la Grisaia-

Looks like similarity can indeed find similar VNs

In [37]:
# Predict the rating the user will give to a VN

def predict_item_rating(ratings, uid, vid, k=5):
  # Get user data  
  user_mean = ratings[ratings['uid'] == uid]['vote_avg'].iloc[0]
  played = ratings[ratings['uid'] == uid]['vid']
  # If already played, return current rating
  if vid in played.values:
    return user_item_df.loc[uid, vid] + user_mean

  # Get k most similar VNs and find ones rated by user
  similarity = item_corr.loc[vid].sort_values(ascending=False)[:k]
  common = set(played).intersection(set(similarity.index))
  # If no common VN found, return mean
  if len(common) == 0:
    return user_item_df[vid].mean() + user_mean
  # Else compute weighted average
  common = pd.Index(common)
  similarity = similarity[common]
  scores = user_item_df.loc[uid][common]
  score = scores.values.dot(similarity.values) / np.abs(similarity).sum()
  score += user_mean
  return score

In [38]:
predict_item_rating(train, 165683, 93, 10)

70.17004679985439

In [39]:
# A function to recommend new VNs to users

def get_item_recommendations(ratings, uid, k=5):
  user_mean = ratings[ratings['uid'] == uid]['vote_avg'].iloc[0]
  already_played = set(ratings[ratings['uid'] == uid]['vid'])
  closest_vns = set()
  for vid in already_played:
    closest_vns |= set(predict_closest_vn(vid, k).index)
  closest_vns -= already_played
  closest_vns = pd.Index(closest_vns)
  already_played = pd.Index(already_played)

  user_ratings = user_item_df.loc[uid]
  user_ratings = user_ratings[already_played]
  similarities = item_corr.loc[already_played]
  similarities = similarities[closest_vns]

  predictions = user_ratings.values[np.newaxis].dot(similarities.values)
  predictions = predictions[0] / np.abs(similarities).sum(axis=0)
  predictions = pd.Series(predictions + user_mean, index=closest_vns, name='predicted_vote')
  predictions = pd.merge(vn.loc[closest_vns, 'title'], predictions, left_index=True, right_index=True)
  return predictions.sort_values(by='predicted_vote', ascending=False)

In [40]:
get_item_recommendations(train, 165683)

                                                   title  predicted_vote
751                                              Rewrite       84.909757
50                                  Fate/Hollow Ataraxia       84.838165
4                                                Clannad       84.622987
7014   Dangan Ronpa Kibou no Gakuen to Zetsubou no Ko...       84.279014
16743                   Lucy - Geunyeoga Baladeon Geos -       84.165605
2002                                         Steins;Gate       84.063803
92                                   Muv-Luv Alternative       84.058150
5154         Grisaia no Kajitsu -Le Fruit de la Grisaia-       83.409159
1143                    Maji de Watashi ni Koishinasai!!       83.057005
7                                              Tsukihime       82.879107
19119                                       Fate/Extella       82.817160
57                    Sharin no Kuni, Himawari no Shoujo       82.121223
13                      Remember11 -The Age of Infinity-       81.523400
183                         Kikokugai - The Cyber Slayer       81.481346
810                                       Kara no Shoujo       81.351435
9093                  Kono Oozora ni, Tsubasa o Hirogete       79.288034
3126                                   Beskonechnoe leto       79.169944
414                                            Kira☆Kira       78.013753
93                                               Muv-Luv       76.677441
2                                          Kana ~Imouto~       73.737692
1743                  Owarinaki Natsu, Towa Naru Shirabe       73.639684
903                                            Edelweiss       72.218254

## Evaluation

In [42]:
# Testing User based CF
mae, rmse = 0, 0
grpd_uid = test.groupby('uid')
for uid, grp in tqdm(grpd_uid, total=len(grpd_uid)):
  user_ratings = predict_user_ratings(train, uid, 30)
  diffs = user_ratings.loc[grp.vid.values] - grp.vote.values
  rmse += np.sum(np.square(diffs))
  mae += np.sum(np.abs(diffs))
mae /= len(test)
rmse = np.sqrt(rmse / len(test))
print(f"USER BASED CF: k = 30")
print(f"RMSE : {rmse}")
print(f"MAE : {mae}")

HBox(children=(FloatProgress(value=0.0, max=20931.0), HTML(value='')))

USER BASED CF: k = 30
RMSE : 14.984420411734487
MAE : 11.309418404884813

In [44]:
# Testing item based CF
mae, rmse = 0, 0
for row in tqdm(test.itertuples(index=False), total=len(test)):
  diff = row.vote - predict_item_rating(train, row.uid, row.vid, 30)
  mae += np.abs(diff)
  rmse += np.square(diff)
mae /= len(test)
rmse = np.sqrt(rmse / len(test))
print(f"ITEM BASED CF: k = 30")
print(f"RMSE : {rmse}")
print(f"MAE : {mae}")

HBox(children=(FloatProgress(value=0.0, max=79311.0), HTML(value='')))

ITEM BASED CF: k = 30
RMSE : 13.87273615906075
MAE : 9.922747471973373

We can clearly see that item based CF performs better than user based CF.