<a href="https://colab.research.google.com/github/PragunSaini/vnrec_notebooks/blob/master/vndb_contentbased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Database Setup (for cloud notebook)

In [ ]:
# For postgresql setup on colab

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# # Setup a new user `vndb`
!sudo -u postgres createuser --superuser vndb
!sudo -u postgres createdb vndb
!sudo -u postgres psql -c "ALTER USER vndb PASSWORD 'vndb'"

In [2]:
# Download vndb database dump
!curl -L https://dl.vndb.org/dump/vndb-db-latest.tar.zst -O

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   235  100   235    0     0    213      0  0:00:01  0:00:01 --:--:--   213
100 76.0M  100 76.0M    0     0  8135k      0  0:00:09  0:00:09 --:--:-- 10.1M

In [ ]:
# Extract and Load data in postgresql
!sudo apt-get install zstd
!tar -I zstd -xvf vndb-db-latest.tar.zst
!PGPASSWORD=vndb psql -U vndb -h 127.0.0.1 vndb -f import.sql

## Setting up environment

In [4]:
# PostgreSQL
import sqlalchemy

# Data and math
import numpy as np
import pandas as pd
import scipy
import string

# Plotting and viz.
import matplotlib as plt
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12, 8)
import seaborn as sns
sns.set_style('whitegrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
# Create PostgreSQL engine
engine = sqlalchemy.create_engine(f'postgresql://vndb:vndb@localhost:5432/vndb')

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Loading users, vn, tags and ratings data

In [6]:
# Load users table
users = pd.read_sql_table("users", con=engine)
users.set_index('id', inplace=True)
users.head()

   username  ign_votes  perm_imgvote  perm_tag
id
2    yorhel      False          True      True
4    hillie      False          True      True
5    vatina      False          True      True
6       3db      False          True      True
7      fuku      False          True      True

In [7]:
# Load vn table
vn = pd.read_sql_table("vn", con=engine)
vn.set_index('id', inplace=True)
vn.head()

                 title    original  ... c_votecount  l_wikidata
id                                  ...
1   Minna de Nyan Nyan  みんなでニャンニャン  ...         624         NaN
2        Kana ~Imouto~    加奈～いもうと～  ...        1538   1274585.0
3        Utawarerumono     うたわれるもの  ...        3303    773981.0
4              Clannad              ...        6658    110607.0
5      Little Busters!   リトルバスターズ！  ...        5829    683502.0

[5 rows x 13 columns]

In [8]:
# Read ratings table (only those user entries who have voted)
ratings = pd.read_sql('SELECT uv.vid, uv.uid, uv.vote, uv.lastmod FROM ulist_vns uv INNER JOIN ulist_vns_labels uvl ON uv.vid = uvl.vid AND uv.uid = uvl.uid WHERE uvl.lbl = 7', con=engine)
ratings.head()

    vid  uid  vote                   lastmod
0    61    2    60 2008-08-06 00:00:00+00:00
1   898    2    70 2008-08-28 00:00:00+00:00
2  1290    2    50 2008-12-18 00:00:00+00:00
3     2    4    70 2008-12-28 00:00:00+00:00
4    10    4    70 2008-12-28 00:00:00+00:00

In [9]:
# Read tags for every vn and average vote given to that tag (only selected those given positive votes)
tags = pd.read_sql('SELECT tv.vid, tv.tag, t.name, AVG(tv.vote) AS vote FROM tags_vn tv INNER JOIN tags t ON tv.tag = t.id WHERE tv.vote > 0 GROUP BY tv.vid, tv.tag, t.name ORDER BY AVG(tv.vote) DESC;', con=engine)
tags.sample(5)

          vid  tag                                         name  vote
344733  28093  401                     Protagonist with Glasses   2.0
343302  25326  136                        Multiple Protagonists   2.0
17263    9996  201  Protagonist's Childhood Friend as a Heroine   3.0
47384   26391  447                                Customization   3.0
460912  17884  878                          Missionary Position   1.0

## Processing the data

In [10]:
# Data overview
print(f"Total users : {len(users)}")
print(f"Total vn : {len(vn)}")
print(f"Number of distinct tags : {len(tags['tag'].unique())}")
print(f"Number of VNs tagged : {len(tags['vid'].unique())}")

Total users : 63572
Total vn : 27678
Number of distinct tags : 2467
Number of VNs tagged : 24706

In order to create a simple content based model, we are gonna use tags as the metadata of VNs. Before that we need to apply some preprocessing steps to the tag metadata.

In [11]:
# Instead of using tag names, I'm using tag ids as the tags,
# since they are unique and don't need to be cleaned
tags['tagname'] = tags['tag'].apply(str)

On top of tag information for each VN, users also give votes to the relevancy of tags for a VN, so some tags apply more strongly to a VN than others. To represent this, we are just gonna repeat the tag relative to it's relevancy vote.

In [12]:
# Populate tags by using vote as frequency
tags['tagvalue'] = np.ceil(tags['vote'] * 10).astype('int') * (tags['tagname'] + ' ')
tags.sample(5)

          vid   tag  ... tagname                                           tagvalue
76365     211   174  ...     174  174 174 174 174 174 174 174 174 174 174 174 17...
249198  15078   154  ...     154  154 154 154 154 154 154 154 154 154 154 154 15...
432070  12070   420  ...     420           420 420 420 420 420 420 420 420 420 420
23949   17697  1824  ...    1824  1824 1824 1824 1824 1824 1824 1824 1824 1824 1...
370636  23721  1614  ...    1614  1614 1614 1614 1614 1614 1614 1614 1614 1614 1...

[5 rows x 6 columns]

In [13]:
# Since we are only using tags, we can ignore other columns
# Group all tags by VN
def join_tags(tags):
  return ' '.join(tags)

vn_tags = tags.groupby('vid')['tagvalue'].agg(join_tags)
vn_tags.head()

vid
1    753 753 753 753 753 753 753 753 753 753 753 75...
2    1335 1335 1335 1335 1335 1335 1335 1335 1335 1...
3    1159 1159 1159 1159 1159 1159 1159 1159 1159 1...
4    459 459 459 459 459 459 459 459 459 459 459 45...
5    1541 1541 1541 1541 1541 1541 1541 1541 1541 1...
Name: tagvalue, dtype: object

## Simple Content Based Model (based on tags similarity)

Now that we have some tags metadata for VNs, we need to encode this text informations somehow. Some ways to do this are:


1.   One Hot Encoding
2.   Word Embeddings
3.   TF-IDF

Since the tags vocabulary size is not too large, we can use any of them.


Here I will use **TF-IDF** which will convert tag metadata to encoding with each distinct tag given weight according to the number of times it appears in a document and also overall in all documents.

In [14]:
# I am using TF-IDF to parse tag information of VNs
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 1), token_pattern=r'\S+') # considering non whitespace as tokens
tfidf_matrix = tfidf.fit_transform(vn_tags)
tfidf_matrix.shape

(24706, 2467)

Now we can use cosine similarity to find similarity between different VNs based on tag encoding.

In [15]:
# Using Cosine Similarity to measure similarity between two VNs
# TF-IDF already applies normalization, so using linear_kernel
from sklearn.metrics.pairwise import linear_kernel
cosine_similarity = linear_kernel(tfidf_matrix, tfidf_matrix)

In [16]:
# Converting to Dataframe for indexing
cosine_similarity = pd.DataFrame(cosine_similarity, index=vn_tags.index, columns=vn_tags.index)

In [17]:
# Make N predictions by finding VNs similar to given VN id
def get_recommendation(vnid, N=5):
  if vnid not in cosine_similarity.index:
    print(f"VN with id {vnid} not present in recommendation engine.")
    return
  sim_scores = cosine_similarity.loc[vnid].sort_values(ascending=False)
  most_similar = sim_scores[1:N].index  # ignoring itself
  return vn.loc[most_similar][['title']]

In [18]:
# Testing: Clannad
get_recommendation(4, 10)

                                            title
vid
5                                 Little Busters!
35                       Wind -A Breath of Heart-
29     Crescendo ~Eien da to Omotte Ita Ano Koro~
36                                            Air
12           Tomoyo After ~It's a Wonderful Life~
20                                     To Heart 2
14807           Fragment's Note 2 Side: Yukitsuki
1179                                Flyable Heart
13119             Fragment's Note 2 Side: Shizuku

In [19]:
# Testing: Steins;Gate
get_recommendation(2002, 10)

                                         title
vid
11660  Steins;Gate Senkei Kousoku no Phenogram
17102                            Steins;Gate 0
9887         Steins;Gate Hen'i Kuukan no Octet
23221                 FamicolleADV Steins;Gate
6618       Steins;Gate Hiyoku Renri no Darling
382                                 Chaos;Head
14018                              Chaos;Child
92                         Muv-Luv Alternative
5502                                      Aqua

In [21]:
# Testing: Fate/Stay Night
get_recommendation(11, 10)

                                             title
vid
7                                        Tsukihime
548                                      Dies irae
50                            Fate/Hollow Ataraxia
7595         Fortissimo EXS//Akkord:Nachsten Phase
9205                                   Tokyo Babel
729    11eyes -Tsumi to Batsu to Aganai no Shoujo-
4021                   Fortissimo//Akkord:Bsusvier
14018                                  Chaos;Child
15808                                    Fate/Zero

Works as you'd expect of a simple naive model.